PORT_HTTP=4040
PORT_HTTPS=7106
PORT_HTTP_SECONDARY=5001

MYSQL_URI=server=localhost;port=3306;database=spot247;user=root;password=123456
REDIS_URL=localhost:6379

JWT_SECRET=YourSuperSecretKey_ChangeThis123
JWT_ISSUER=http://localhost:4040
JWT_AUDIENCE=http://localhost:4040
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRY_DAYS=7

CLIENT_URL=http://localhost:3000

GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=carmaster1205@gmail.com
SMTP_PASS=uagejxmqhfgqdsdc
SMTP_FROM=carmaster1205@gmail.com